@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (PlayerState.Value.Player is not null)
{
    <div class="player-summary-wrapper">
        <img src="@PlayerState.Value.Player.ProfileImg" class="profile-img" alt="character profile image">

        <p class="player-name">@PlayerState.Value.Player.Name</p>
        <p class="level">Level: @PlayerState.Value.Player.Level</p>
        <Gauge Label="Health" Max="@PlayerState.Value.Player.MaxHealth" Value="PlayerState.Value.Player.Health"/>
        <Gauge Label="Stamina" Max="@PlayerState.Value.Player.MaxStamina" Value="PlayerState.Value.Player.Stamina"/>
        <Gauge Label="Exp" Max="100" Value="PlayerState.Value.Player.Experience" Type="GaugeType.Info"/>

        <!-- <button class="inventory-button">
        <img src="../../../assets/treasure-chest.svg" alt="inventory icon">
      </button> -->

    </div>
}
