@page "/load-game"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="load-game-wrapper">
    <div>
        <h1 class="header">Load Game</h1>
    </div>
        
    <div class="game-list-wrapper">
        @if (!States.Any())
        {
            <div class="no-games">
                  There are no saved games
            </div>
        }
        
        @foreach (var (state, index) in @States.Select((s, i) => (s, i)))
        {
            <div class="button-wrapper">   
                <Button Variant="@ButtonType.Banner" OnClickCallback="() => HandleLoadGameClick(state.Game.Id)">
                    <div class="button-content-wrapper">
                        <div class="left-col">
                            Game @(index + 1)
                        </div>
                        <div class="button-column right-col">
                            <span>@state.Player.Name <img alt="Player Sprite" src="@state.Player.ProfileImg"></span>
                            <span class="small">Lv. @state.Player.Level | Day @state.Game.Day</span>
                        </div>
                    </div>
                </Button>
            </div>
        }

    </div>
    
    <div>
        <Button Route="/" Variant="ButtonType.Banner">Back</Button>
    </div>
    
</div>

