@page "/load-game"
<div class="load-game-wrapper">
    <h1 class="header">Load Game</h1>
        
    <div class="game-list-wrapper">
        @foreach (var (state, index) in @States.Select((s, i) => (s, i)))
        {
            <div class="banner">
                <div class="button-content-wrapper">
                    <div class="left-col">
                        Game @(index + 1)
                    </div>
                    <div class="button-column right-col">
                        <span>@state.Player.Name <img src="@state.Player.ProfileImgUrl"></span>
                        <span class="small">Lv. @state.Player.Level | Day @state.Game.Day</span>
                    </div>
                </div>
            </div>
            
        }

    </div>
</div>

