@page "/new-game"
@using Shipwrecked.Domain.Enums
@using Shipwrecked.Domain.Models

<div class="new-game-wrapper">
    <div>
        <h1 class="header">New Game</h1>
    </div>
    <EditForm OnSubmit="@HandleFormSubmit" Model="@FormInput" class="input-wrapper">
        <h3>Game Setup</h3>

        <label>
            Name: 
            <InputText DisplayName="Character Name" @bind-Value="FormInput.Name"></InputText>
        </label>
            Sex:
        <InputRadioGroup @bind-Value="FormInput.Gender">
            <label>
                Male
                <InputRadio Value="@Gender.Male"></InputRadio>
                <img class="sprite" alt="A sprite of a man" src="img/sprites/man/man.gif">
            </label>
            <label>
                Female
                <InputRadio Value="@Gender.Female"></InputRadio>
                <img class="sprite" alt="A sprite of a woman" src="img/sprites/woman/woman.gif">
            </label>
        </InputRadioGroup>
        <InputRadioGroup @bind-Value="FormInput.GameDifficulty">
            <label>
                Easy
                <InputRadio Value="@GameDifficulty.Easy"></InputRadio>
            </label>
            <label>
                Normal
                <InputRadio Value="@GameDifficulty.Normal"></InputRadio>
            </label>
            <label>
                Difficult
                <InputRadio Value="@GameDifficulty.Difficult"></InputRadio>
            </label>
        </InputRadioGroup>
        
        <button type="submit" value="Submit">Submit Form</button>
    </EditForm>


    <div class="footer">
        <div>
            <Button Variant="@ButtonType.Banner" Route="/">Back</Button>
        </div>
        <div>
            <Button Variant="@ButtonType.Banner" Disabled="@true">Start</Button>
        </div>
    </div>
</div>